<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block title %}
            <title>{{ admin_theme_name() }}</title>
        {% endblock %}

        {% block stylesheets %}
            {% include "@UmbrellaAdmin/Include/stylesheets.html.twig" %}
        {% endblock %}

    </head>

    {% include "@UmbrellaCore/Include/toastr.html.twig" %}

    {% block body %}
        <body data-mount="Layout" data-leftbar-theme="dark">
            <div class="wrapper">
                {% block sidebar %}
                    {{ menu_render() }}
                {% endblock %}

                <div class="content-page">
                    <div class="content mt-3">
                        {% block topbar %}
                            <div class="navbar-custom">
                                <ul class="list-unstyled topbar-right-menu float-right mb-0">
                                    {% if admin_notification_enable() %}
                                        {% include "@UmbrellaAdmin/Notification/widget.html.twig" %}
                                    {% endif %}
                                    {% include "@UmbrellaAdmin/Include/userinfo.html.twig" %}
                                </ul>

                                <button class="button-menu-mobile open-left disable-btn">
                                    <i class="uil-list-ul"></i>
                                </button>

                                {% block breadcrumb %}
                                    {{ breadcrumb_render() }}
                                {% endblock %}
                                </div>
                            </div>
                        {% endblock %}

                        <div class="container-fluid">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>

            </div>

        </body>
    {% endblock %}

    {% block javascripts %}
        {% include "@UmbrellaAdmin/Notification/template.html.twig" %}
        {% include "@UmbrellaAdmin/Include/scripts.html.twig" %}
    {% endblock %}
</html>






