{% extends "@UmbrellaCore/Modal/default.html.twig" %}

{% block modal_title %}
    <h5 class="modal-title">Tache {{ entity }}</h5>
{% endblock %}

{% block modal_content %}
    <table class="table table-striped mb-0">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ entity.state | render_task_state }}</td>
            </tr>
            {% if entity.config %}
                <tr>
                    <th>Coniguration</th>
                    <td>
                        <b>Handler alias</b> {{ entity.config.handlerAlias }}<br>
                        <b>Tag</b> {{ entity.config.tag }}<br>
                        <b>Timeout</b> {{ entity.config.timeout ? entity.config.timeout : '&infin;' }}
                    </td>
                </tr>
            {% endif %}
            {% if entity.startedAt %}
                <tr>
                    <th>Exécuté le</th>
                    <td>{{ entity.startedAt | date('d/m/Y H:i:s') }}</td>
                </tr>
            {% endif %}
            {% if entity.endedAt %}
                <tr>
                    <th>Terminé le</th>
                    <td>{{ entity.endedAt | date('d/m/Y H:i:s') }}</td>
                </tr>
            {% endif %}
            {% set runtime = entity.runtime %}
            {% if runtime %}
                <tr>
                    <th>Runtime</th>
                    <td>{{ runtime }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if entity.output %}
        <div class="m-3">
            <hr>
            <div class="pb-3">Messages</div>
            <pre class="pre-scrollable">{{ entity.output }}</pre>
        </div>
    {% endif %}

{% endblock %}