{% block node %}
    {% if menu_is_granted_node(node) %}

        {% if node.type == 'ROOT' %}
            {{ block('root') }}
        {% elseif node.type == 'HEADER' %}
            {{ block('header') }}
        {% elseif node.type == 'PAGE' %}

            {% if node.hasChildren() %}
                {{ block('list') }}
            {% else %}
                {{ block('leaf') }}
            {% endif %}

        {% endif %}
    {% endif %}

{% endblock %}

{% block root %}
    {% for node in node %}
        {{ block('node') }}
    {% endfor %}
{% endblock %}

{% block header %}
    <li class="side-nav-title side-nav-item">{{ block('label') }}</li>

    {% for node in node %}
        {{ block('node') }}
    {% endfor %}
{% endblock %}

{% block list %}
    <li class="side-nav-item {{ menu_is_current_node(node) ? 'mm-active' }}">
        <a href="javascript: void(0);" class="side-nav-link">
            {% if node.icon %}
                <span class="nav-icon">
                    {{ node.icon | icon }}
                </span>
            {% endif %}
            <span>{{ block('label') }}</span>
            <span class="menu-arrow"></span>
        </a>

        {% set level = node.getLevel() %}
        {% if level <= 2 %}
            {% set node_level_class = 'side-nav-second-level' %}
        {% elseif level == 3 %}
            {% set node_level_class = 'side-nav-third-level' %}
        {% elseif level == 4 %}
            {% set node_level_class = 'side-nav-forth-level' %}
        {% else  %}
            {% set node_level_class = 'side-nav-n-level' %}
        {% endif %}

        <ul class="{{ node_level_class }}">
            {% for node in node %}
                {{ block('node') }}
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block leaf %}
    <li class="side-nav-item {{ menu_is_current_node(node) ? 'mm-active' }}">
        <a href="{{ node.url }}" target="{{ node.target }}" class="side-nav-link">
            {% if node.icon %}
                <span class="nav-icon">
                    {{ node.icon | icon }}
                </span>
            {% endif %}
            <span class="nav-text">{{ block('label') }}</span>
        </a>
    </li>
{% endblock %}

{% block label %}
    {% if node.translate %}
        {% set label = menu.translationPrefix ~ node.label %}
        {{ label | trans }}
    {% else %}
        {{ node.label }}
    {% endif %}
{% endblock %}