{% block menu_widget %}
    {% for node in menu.root %}
        {% if node.type == 'title' %}
            {{ block('menu_title') }}
        {% else %}
            {{ block('menu_node') }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block menu_title %}
    <li class="side-nav-title side-nav-item">{{ block('menu_label') }}</li>
{% endblock %}

{% block menu_node %}
    {% set level = node.level %}
    {% set isTopLevel = level == 1 %}

    <li class="side-nav-item {{ menu_is_current_node(node) ? 'mm-active' }}" data-lvl="{{ level }}">
        <a {{ block('menu_url') }} class="{{ isTopLevel ? 'side-nav-link' }}">
            {% if isTopLevel %}
                {{ node.icon | icon }}
                <span class="nav-text">{{ block('menu_label') }}</span>
            {% else %}
                {{ block('menu_label') }}
            {% endif %}
            {% if node.hasChildren() %}
                <span class="menu-arrow"></span>
            {% endif %}
        </a>

        {% if node.hasChildren() %}
            {% if level == 1 %}
                {% set node_level_class = 'side-nav-second-level' %}
            {% elseif level == 2 %}
                {% set node_level_class = 'side-nav-third-level' %}
            {% else %}
                {% set node_level_class = 'side-nav-forth-level' %}
            {% endif %}

            <ul class="{{ node_level_class }}">
                {% for node in node %}
                    {{ block('menu_node') }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endblock %}

{% block menu_label %}
    {% if node.label is not empty %}
        {% if node.translationDomain %}
            {{ (node.labelPrefix ~ node.label) | trans([], node.translationDomain) | raw }}
        {% else %}
            {{ (node.labelPrefix ~ node.label) | raw }}
        {% endif %}
    {% endif %}
{% endblock %}

{%- block menu_url -%}
    {% if node.route %}
        href="{{ path(node.route, node.routeParams) }}"
    {% elseif node.url %}
        href="{{ node.url }}"
    {% else %}
        href="javascript: void(0);"
    {% endif %}
{%- endblock -%}