{% block node %}
    {% if menu_is_granted_node(node) %}

        {% if node.type == 'ROOT' %}
            {{ block('root') }}
        {% elseif node.type == 'HEADER' %}
            {{ block('header') }}
        {% elseif node.type == 'PAGE' %}

            {% if node.hasChildren() %}
                {{ block('list') }}
            {% else %}
                {{ block('leaf') }}
            {% endif %}

        {% endif %}
    {% endif %}

{% endblock %}

{% block root %}
    {% for node in node %}
        {{ block('node') }}
    {% endfor %}
{% endblock %}

{% block header %}
    <li class="nav-header hidden-folded">
        <small class="text-muted">{{ block('label') }}</small>
    </li>

    {% for node in node %}
        {{ block('node') }}
    {% endfor %}
{% endblock %}

{% block list %}
    <li class="{{ menu_is_current_node(node) ? 'active' }}">
        <a>
            <span class="nav-caret">
                <i class="fa fa-caret-down"></i>
            </span>
            {#{% if node.children | length > 0 %}#}
                {#<span class="nav-label">#}
                    {#<b class="label label-sm info">{{ node.children | length }}</b>#}
                {#</span>#}
            {#{% endif %}#}
            {% if node.icon %}
                <span class="nav-icon">
                    {{ render_icon(node.icon) }}
                </span>
            {% endif %}
            <span class="nav-text">{{ block('label') }}</span>
        </a>

        <ul class="nav-sub">
            {% for node in node %}
                {{ block('node') }}
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block leaf %}
    <li class="{{ menu_is_current_node(node) ? 'active' }}">
        <a href="{{ node.url }}" target="{{ node.target }}">
            {% if node.icon %}
                <span class="nav-icon">
                    {{ render_icon(node.icon) }}
                </span>
            {% endif %}
            <span class="nav-text">{{ block('label') }}</span>
        </a>
    </li>
{% endblock %}

{% block label %}
    {% if node.translate %}
        {% set label = menu.translationPrefix ~ node.label %}
        {{ label | trans }}
    {% else %}
        {{ node.label }}
    {% endif %}
{% endblock %}