<div class="b-t">
    <div class="nav-fold">

        {% if app.user is instanceof('\\Umbrella\\UserBundle\\Entity\\User') %}
            {% set avatar = app.user.avatar
                ? app.user.avatar.webPath | imagine_filter('ub_avatar_md')
                : asset('/bundles/umbrellauser/images/default_user.png') %}

            <span class="pull-left">
                <a href="{{ path('umbrella_user_account_index') }}">
                    <img src="{{ avatar }}" alt="{{ app.user.fullName }}" class="w-40 img-circle">
                </a>
            </span>
            <span class="clear hidden-folded p-x">
                <small class="block _500">{{ app.user.fullName }}</small>
                <a class="block text-primary" href="{{ path('umbrella_user_logout') }}">
                    <i class="fa fa-power-off"></i> {{ 'action.signout'|trans }}
                </a>
            </span>
        {% else %}
            <span class="pull-left">
                <img src="{{ asset('/bundles/umbrellauser/images/default_user.png') }}" alt="{{ app.user.username }}" class="w-40 img-circle">
            </span>
            <span class="clear hidden-folded p-x">
                <small class="block _500">{{ app.user.username }}</small>
                <a class="block text-primary" href="{{ path('umbrella_user_logout') }}">
                    <i class="fa fa-power-off"></i> {{ 'action.signout'|trans }}
                </a>
            </span>
        {% endif %}

    </div>
</div>
